// background-color
$card-item: #75d8af;
$card-template: #cff0da;
$card-tag: #88dba3;
$card-add: #b0d6194a;

// title color
$card-add-title:#bf209f;



$DATE: #1ed6714a;
$LIST_IMAGE: #ccd89d4a;
$LIST_TEXT: #81cfdd4a;
$LIST_URL: #b0d6194a;
$MARKDOWN: #b0d6194a;
$RATE: #18ac7a4a;
$ENUM: #959fd64a;
$ADDFIELD: #cff0da;